header {
    background-color: #4C5578;
}

table {
    width: 80%
}

.Links {
    display: inline;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;

}

.NavBar {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    font-size: 20px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;

}

.Title {
    color: #000;
    font-size: 36px;    
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.NavBar:hover {
    font-size: 15px;
    color: #6F90E4;
}

.NavBar:Active {
    font-size: 18px;
    color: #5887FF;
}

.Links1 {
    text-align: center;
}

.Logo {
    display: inline;
    text-decoration: none;
    float: left;
    list-style-type: none;
}

.Logo1 {
    padding-bottom: 300px;
    width: 140px;
    height: 100px;
}

.Logo2 {
    width: 371px;
    height: 365px;
}

.Desc {
    font-size: 20px;
    float: left;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.Contact {
    width: 265px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;;
}

.Message {
    width: 461px;
    padding: 20px;
}

.AlignRight {
    text-align: right;
}

footer {
    background-color: #4C5578;
    margin-top: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}